:root {
  --footer-bg: #212429;
  --footer-text-color: #f9f9fb;
  --footer-copyright-color: #ffffff;
  --footer-bg-second-line: #17191c;
  --montserrat: 'Montserrat', sans-serif;
  --hind: 'Hind', sans-serif;

}


footer {
  color: var(--footer-text-color);
  padding-top: 59px;
  background-color: var(--footer-bg);
  .about_blog {


    img {

      width: 100%;

    }
  }
  .latest_tweets{
    .footer_column_description{
      margin-left: 25px;
    }
  }
}

.footer_column_title {
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--montserrat);
  margin-bottom: 40px;
}

.footer_column_description {
  line-height: 30px;
  font-family: var(--hind);
  font-size: 15px;
  margin-bottom: 0px;

}

.footer_twitter_block {
  font-size: 14px;
  color: var(--footer-text-color);
  a {
    padding-right: 10px;

    i {
      color: var(--footer-text-color);
    }
  }
  span {

  }

}