:root {
  --footer-bg: #212429;
  --footer-text-color: #f9f9fb;
  --footer-copyright-color: #ffffff;
  --footer-bg-second-line: #17191c;
  --montserrat: 'Montserrat', sans-serif;
  --hind: 'Hind', sans-serif;
  --open-sans-light: 'Open Sans', sans-serif;

}

.footer_container {
  max-width: 1535px;
  margin: auto;
}

footer {
  color: var(--footer-text-color);
  padding-top: 29px;
  background-color: var(--footer-bg);
  .about_blog {

    img {
      width: 100%;
    }
  }
  .latest_tweets {
    .footer_column_description {
      margin-left: 25px;
    }
  }
  .latest_comment {

    .footer_dialog {
      &:nth-of-type(1) {
        border-bottom: solid 1px white;
        margin-bottom: 26px;
      }
      font-family: var(--open-sans-light);
      font-size: 14px;
      span {
      }
      p {
        margin-top: 20px;
        margin-bottom: 26px;
      }
    }
  }
  .follow_me {
    .white_block {

      background-color: white;
      margin-bottom: 3px;
      width: 98%;
      height: 98px;

    }
  }
}

.footer_column_title {
  margin-top: 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--montserrat);
  margin-bottom: 40px;

}

.footer_column_description {
  line-height: 30px;
  font-family: var(--hind);
  font-size: 15px;
  margin-bottom: 0px;

}

.footer_twitter_block {

  margin-top: 30px;

  font-size: 14px;
  color: var(--footer-text-color);
  a {
    padding-right: 10px;

    i {
      color: var(--footer-text-color);
    }
  }
  span {
  }

}

.second_line {
  margin-top: 25px;
  background-color: var(--footer-bg-second-line);
  a{
    &:hover{
      text-transform: uppercase;
    }
    color: white;
    text-decoration: none;
    font-family: var(--hind);
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;

    &:nth-of-type(2){
      margin: 0 15px;
      &:before{
        content: "|";
        display: inline-block;
        clear: both;
        padding-right:15px ;
      }

      &:after{
        content: "|";
        display: inline-block;
        clear: both;
        padding-left:15px ;
      }
    }
  }
}