$montserrat: 'Montserrat', sans-serif;
$hind:'Hind', sans-serif;

section.aside .col-md-3{
  margin-top: 100px;
}
.text-aside{
  padding-top: 20px;
  max-width: 300px;
  h3{
    font-size: 14px;
    text-transform: uppercase;
    font-family: $montserrat;
  }
  span{
    color: #999999;
    font-size: 12px;
    font-family: $hind;
  }
  span:nth-child(1n){
    padding-right:15px ;
  }
}
.text-aside:before{
  content: "";
  margin-right: 10px;
  float: left;
  width: 60px;
  height: 60px;
  background: #3a3c49;
}
.text-aside:nth-child(2):before{
  content: "";
  margin-right: 10px;
  float: left;
  width: 60px;
  height: 60px;
  background: #f3f3f3;
}
.text-aside:nth-child(4):before{
  content: "";
  margin-right: 10px;
  float: left;
  width: 60px;
  height: 60px;
  background: #f3f3f3;
}
body{
  background: white;
}
.text-aside:after{
  content: "";
  border-bottom: solid 1px #f7f7f7;
  display:block;
  padding-bottom: 5px;

}
.icons{
  i{
    color: #464646;
    font-size: 18px;

  }
  i:hover{
    transform: scale(1.3);
    transition: 1s;
    color: #3a3c49;
  }
}
.carousel{
  margin-bottom: 40px;
  img{
    max-width: 300px;
  }
}

.facebook-img{
  img{
    max-width: 100%;
  }
}
.latest-post{
  max-width: 300px;
  h4{
    text-align: center;
    text-transform: uppercase;
    font-family: $montserrat;
    font-size: 18px;
  }
}
.latest-post:after{
  content: "";
  border-bottom: solid 1px #f7f7f7;
  display:block;
  padding-bottom: 5px;

}
.search{
  position: absolute;
  top: 0;
  font-size: 25px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
}
.form-control{
  height: 50px;
  background-color: #f9f9fb;
  //width: 250px;
}
.banner{
  margin-top: 40px;
}
.catagories{
  margin: auto;
  h4{
    text-align: center;
    text-transform: uppercase;
  }
  li{
    list-style: none;
    text-transform: uppercase;
    border: 1px  gainsboro;
    padding-top: 30px;
    padding-bottom: 19px;
    //max-width: 100px;
  }
}
.form-group{
  width: 100%;
  outline: none;
}
.form-inline{
  width: 100%;
  padding-bottom: 40px;
}
.search{
  position: absolute;
  top: 0;
  font-size: 25px;
  color: white;
  border: 1px solid;
  width: 20px;
  height: 20px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  &:hover{
    color: white;
    background-color: #212121;
    transition: 1.5s;

  }
}
.form-control{
  height: 50px;
  background-color: #f9f9fb;
  //max-width: 250px;
}
.banner{
  margin-top: 40px;
}
.catagories{
  h4{
    text-align: center;
    text-transform: uppercase;
  }
  li{
    list-style: none;
    text-transform: uppercase;
    border: 1px  gainsboro;
    padding-top: 30px;
    padding-bottom: 19px;
    //max-width: 300px;
    span{
      float: right;
    }
  }
}
.cat{
  ul{
    padding-left: 0;
  }
}
