$montserrat: 'Montserrat', sans-serif;
$hind:'Hind', sans-serif;


.page-wrap{
padding-top: 238px;
  min-height: 100vh;
  .display-1{
    font-size: 375px;
    font-family: $montserrat;
    color: rgb(54, 54, 54);
    font-weight: bold;
    line-height: 0.08;

  }
   .block_found{
     font-size: 16px;
     font-family: $montserrat;
     color: #212121;
     text-transform: uppercase;
     letter-spacing: 22px;
     font-weight: bold;
     line-height: 1.2;
     text-align: center;
     z-index: 12;
     background-color: #ffffff;
     position: absolute;
     left: 16%;
     top: 13%;
     width: 780px;
     height: 20px;
   }
  .navbar {
    padding-top: 75px;
    padding-bottom: 30px;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    .form-control {
      border-radius: 0;
      width: 600px;
    }

    .btn {
      width: 170px;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
      font-family: $montserrat;
      line-height: 1.714;
      border-radius: 0;
      z-index: 12;
    }
  }
  .block_bottom{
    h2 {
      font-size: 30px;
      font-family: $montserrat;
      color: rgb(54, 54, 54);
      font-weight: bold;
      line-height: 0.8;
    }
    p {
      color: #c6c6c7;
      font-weight: bold;
      font-size: 16px;
    }
    a {
      font-size: 14px;
      font-weight: bold;
      font-family: $montserrat;
      color: rgb(54, 54, 54);
      line-height: 1.714;
      text-decoration: none;
      img{
        margin-right: 10px;
      }
    }
  }
}